* {
    background-color: #ded1dd; /* Color de fondo global */
}

.wrapper {
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    min-height: 100vh; /* Altura completa para el contenedor */
}

.main-content {
    margin-top: 60px; /* Mantiene el contenido debajo del encabezado fijo */
    padding: 20px; /* Añade padding para mejor espaciado */
    box-sizing: border-box; /* Asegura que el padding esté incluido en el ancho */
    display: flex; /* Cambiado a flex para permitir alineación */
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
}

.center-text {
    margin-top: 30px;
}

.container {
    max-width: 800px;
    margin: auto; /* Centra el contenedor */
    padding: 20px;
    background-color: #ded1dd; /* Fondo blanco para el formulario */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ded1dd; /* Fondo blanco para los campos */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
    border-color: #9d56be; /* Cambia el color del borde al foco */
    box-shadow: 0 0 5px rgba(157, 86, 190, 0.5); /* Sombra al foco */
    outline: none; /* Elimina el contorno predeterminado */
}

.mb-buttons {
    display: flex; /* Utiliza flexbox para alinear los elementos */
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 30px; /* Espacio de 30px entre los botones */
    margin-bottom: 15px; /* Margen inferior para separación del resto del formulario */
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #9d56be;
    color: #fff;
    border: none;
}

.btn-primary:hover {
    background-color: #664e6a;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .form-label {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
    }
}