* {
  background-color: #ded1dd;
}
  
.contact-form-container {
  max-width: 800px;
  margin: 150px auto; /* Center the container and provide space below the fixed header */
  padding: 20px;
  background-color: #ded1dd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.outer-container {
  background-color: #ded1dd; /* Color for the simulated margin */
}
  
  .site-title {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .site-description {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
  }
  
  .contact-info-title {
    color: #333;
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-group textarea {
    resize: vertical; /* Allow vertical resizing of the textarea */
  }
  
  .submit-button {
    background-color: #9d56be;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #664e6a;
  }
  
  .final-description {
    text-align: center;
    color: #666;
    margin-top: 20px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .contact-form-container {
      padding: 15px;
    }
  
    .site-title {
      font-size: 20px;
    }
  
    .contact-info-title {
      font-size: 18px;
    }
  
    .submit-button {
      font-size: 14px;
    }
  }