.main-header {
    background-color: #fff;
    color: #333;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
  }
  
  .logo img {
    max-height: 100px;
  }
  
  .navbar {
    flex: 1;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar li {
    margin-right: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .navbar a:hover {
    color: #ffcc00;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input[type="search"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc; /* Borde del input */
    border-radius: 5px; /* Esquinas redondeadas */
    outline: none; /* Elimina el contorno al hacer clic */
  }
  
  input[type="search"]:focus {
    border-color: #007bff; /* Cambia el color del borde al enfocar */
  }