* {
  background-color: #dcb7db;
  box-sizing: border-box; /* Ensure padding and borders are included in width and height */
}

.main-header {
  position: fixed; /* Fixes the header at the top */
  top: 0; /* Aligns it to the top of the viewport */
  left: 0; /* Aligns it to the left of the viewport */
  width: 100%; /* Ensures the header spans the full width of the viewport */
  color: #333;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between; /* Space between logo and nav items */
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  z-index: 1000; /* Ensures the header stays above other content */
}

/* Adjust the content below the header to account for its fixed position */
body {
  margin: 0;
  padding-top: 60px; /* Adjust this value based on the header's height */
}

.logo img {
  max-height: 50px; /* Adjust the size of the logo as needed */
}

.navbar {
  flex: 1;
  display: flex;
  justify-content: space-between; /* Distributes menu items and right-side container */
  align-items: center;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; /* Aligns items vertically */
  margin: 0 auto; /* Centers the menu horizontally */
}

.nav-links li {
  margin: 0 10px; /* Horizontal space between items */
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #a82dad; /* Change color on hover */
}

.nav-right {
  display: flex;
  align-items: center;
}

.btn-login {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #9d56be;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: #664e6a; /* Darker color on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .main-header {
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align logo and nav to the left */
  }

  .navbar {
    width: 100%; /* Full width for navbar */
    flex-direction: row; /* Keep navbar items in a row */
    justify-content: space-between; /* Space between logo and nav */
    margin-top: 10px; /* Space above navbar */
  }

  .nav-links {
    margin: 0;
    flex-direction: row; /* Keep links in a row */
    justify-content: flex-end; /* Align links to the right */
    width: auto; /* Auto width for nav links */
  }

  .nav-links li {
    margin: 0 5px; /* Space between items */
  }

  .nav-right {
    margin-left: auto; /* Pushes the login button to the right */
  }
}