<div class="wrapper">
  <main class="main-content">
    <div class="container mt-5 pt-5">
      <h4 class="text-center">Agregar Usuarios</h4>

      <form class="usuario-form-create" [formGroup]="usuarioForm" (ngSubmit)="crearUsuario()">

        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              formControlName="nombre"
              required
            />
        </div>

        <div class="mb-3">
          <label for="text" class="form-label">Email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            formControlName="email"
            required
          />
        </div>

        <div class="mb-3">
          <label for="tipoDocumento" class="form-label">Tipo de Documento</label>
          <select 
            type="text"
            class="form-control" 
            formControlName="tipoDocumento"
            required>
            <option value="" disabled selected>Selecciona una opción</option>
            <option>Cédula de ciudadania</option>
            <option>Cédila de extranjeria</option>
            <option>Pasaporte</option>
          </select>          
        </div>

        <div class="mb-3">
          <label for="numeroDocumento" class="form-label"
            >Número de Documento</label
          >
          <input
            type="number"
            class="form-control"
            id="numeroDocumento"
            formControlName="numeroDocumento"
            required
          />
        </div>

        <div class="mb-3">
          <label for="login" class="form-label">Login</label>
          <input
            type="text"
            class="form-control"
            id="login"
            formControlName="login"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            required
          />
        </div>
        <div class="mb-3">
          <label for="rol" class="form-label">Rol</label>
          <select class="form-control" formControlName="rol" required>
            <option value="" disabled selected>Selecciona una opción</option>
            <option>ADMINISTRADOR</option>
            <option>CLIENTE</option>
          </select>
        </div>
    
        <div class="mb-3">
          <div class="mb-buttons">
                        
            <a href="administrar-usuarios" class="btn btn-danger">Cancelar</a>
            <button type="submit" class="btn btn-primary" [disabled]="!usuarioForm.valid">Agregar Usuario
            </button>

          </div>
        </div>
      </form>
    </div>

  </main>
</div>

