.btn-login {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ae00ff;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: #a45fae;
}