<main class="main-content">

  <div class="intro">
    <h1>Aro Inclusión: espacio para la diversidad</h1>
    <p>Este es un espacio para que puedas conectar con nuestro proyecto.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit deserunt exercitationem quia temporibus expedita dignissimos odit sapiente, ea cum suscipit doloribus. Pariatur, repudiandae obcaecati quod aliquid voluptatum sunt unde aut!</p>
  </div>

  <div class="products-home">
    <div class="product-box">
      <img src="/assets/images/homeTallerTres.jpg" alt="Producto 1" class="product-image">
      <div class="text-box">
        <h3>Primer Producto</h3>
        <p>Comments: Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p>Date: Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button class="more-info-btn">Más información</button>
      </div>
    </div>

    <div class="product-box-reverse">
      <img src="/assets/images/homeTallerDos.jpg" alt="Producto 2" class="product-image">
      <div class="text-box">
        <h3>Segundo Producto</h3>
        <p>Comments: "Lorem ipsum dolor sit amet consectetur adipisicing elit."</p>
        <p>Date: "Lorem ipsum dolor sit amet consectetur adipisicing elit."</p>
        <button class="more-info-btn">Más información</button>
      </div>
    </div>

    <div class="product-box">
      <img src="/assets/images/homeTallerTres.jpg" alt="Producto 3" class="product-image">
      <div class="text-box">
        <h3>Tercer Producto</h3>
        <p>Comments: "Lorem ipsum dolor sit amet consectetur adipisicing elit."</p>
        <p>Date: "Lorem ipsum dolor sit amet consectetur adipisicing elit."</p>
        <button class="more-info-btn">Más información</button>
      </div>
    </div>
  </div>

  <div class="contact">
    <img src="/assets/images/homeCotactenos.jpg" alt="Contact" class="contact-image">
    <div class="contact-info">
      <h3>¿Quieres aprender más sobre nosotros?</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <a href="contacto" class="contact-btn">Contáctanos</a> <!-- Cambiado a <a> -->
    </div>
</div>
  
</main>