<div class="wrapper">
  
    <main class="main-content">
    
    <div class="adm-admin-contact">
        <h2>Clientes por contactar</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab voluptatem incidunt vitae sapiente obcaecati aliquid. Alias dignissimos quibusdam totam, unde sed tempore beatae, quas quos suscipit sit illum, impedit perspiciatis.</p>
    </div>

    <div class="table-admin-contact">

        <div class="container">

            <div class="row justify-content-center">
                <div class="col-md-12"> <!-- Adjusted column size for better alignment -->

                    <section class="search-section">
                        <div class="search-box">
                            <input type="text"
                            [(ngModel)]="searchTerm" (keyup)="filterData()" 
                            placeholder="Buscar..." class="form-control">
                            <span class="input-group-text" id="search-icon">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </section>
                    
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col" colspan="2" class="table-active">Nombre</th>
                                <th scope="col" colspan="3" class="table-active">Email</th>
                                <th scope="col" colspan="4" class="table-active">Teléfono</th>
                                <th scope="col" colspan="5" class="table-active">¿Por qué nos contacta?</th>
                                <th scope="col" colspan="6" class="table-active">Detalles</th>
                                <th scope="col" colspan="7" class="table-active">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (contacto of misContactos; track $index) {
                                <tr>
                                    <th scope="row">{{ $index +1 }}</th>
                                    <td colspan="2" class="table-active">{{ contacto.nombre}} </td>
                                    <td colspan="3" class="table-active">{{ contacto.correo }}</td>
                                    <td colspan="4" class="table-active">{{contacto.telefono}}</td>
                                    <td colspan="5" class="table-active">{{ contacto.descripcion }}</td>
                                    <td colspan="6" class="table-active">{{ contacto.detalles }}</td>
                                    <td colspan="7" class="table-active">
                                        <select>
                                            <option>Por contactar</option>
                                            <option>Contactado</option>
                                            <option>Usuario</option>
                                        </select>
                                    </td>          
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </main>
</div>


