*{
    background-color: #dcb7db;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px; 
    color: #333;
    position: relative; 
    background-color: #dcb7db;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box; 
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box; 
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    max-height: 50px; /* Adjust logo size as needed */
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 0 10px; /* Reduce margin for links */
}

.footer-links a {
    color: #333;
    text-decoration: none;
    margin: 0 15px; /* Space between links */
}

.footer-links a:hover {
    color: #a82dad;
    text-decoration: underline;
}

.footer-social {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align icons to the right */
}

.social-row {
    display: flex;
    margin: 2px 0; /* Reduce margin between rows of icons */
}

.social-icon {
    margin: 0 5px; /* Reduce margin between icons */
}

.social-icon img {
    width: 30px; /* Adjust icon size */
    height: 30px;
    vertical-align: middle;
}

.footer-credit-container {
    width: 100%;
    text-align: center;
    box-sizing: border-box; /* Include padding and border in the width */
}

.footer-credit {
    font-size: 12px; /* Font size for credit text */
    margin: 5px 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer-logo img {
        max-height: 40px; /* Adjust logo size on smaller screens */
    }

    .social-icon img {
        width: 25px; /* Adjust icon size on smaller screens */
        height: 25px;
    }
}